- cache workout do
  .card{class: ("inactive" if workout.active == false)}
    .card-header
      .card-title.h5.column
        .columns
          .col-12
            =link_to workout.formated_date, edit_workout_path(workout)

      .card-subtitle.text-gray
        / -if workout.active
        /   =greet_user
      .card-body.columns
        - workout.unique_exercises.each do |exercise|
          .columns{style: "border-bottom: 2px solid white"}
            %h5
              = exercise.name
          .column.col-12
            / .columns
            / .col-1
            / .col-5
            /   Current
            / .col-6
            

            - workout.setts.where(exercise_id: exercise.id).order(:id).each_with_index do |sett, index|
              .columns.col-12{"data-controller" => "sett", "data-sett-id" => sett.id, style: "font-size: 15pt"}
                .left.col-3
                  %p
                    ="Set #{index+1} "
                .col-3
                  %p
                    -#="#{sett.reps_goal} reps at #{sett.current_weight}lbs"
                    ="#{sett.current_weight} lbs"
                    / %small.tile-subtitle.text-gray
                    /   %input{type: "number", min: 0, max: 2000, step: 2.5, value: sett.current_weight, "data-target" => "sett.weight", "data-action" => "change->sett#updateWeight"}

                .col-1{"data-controller" => "video"}
                  -if ENV['FEATURE_VIDEO']
                    %button.btn.btn{"data-target" => "video.button", "data-value" => "0", "data-action" => "click->video#toggleVideoRecord"}
                      .icon.icon-check
                    
                .right.col-5
                  %button.btn.btn{"data-target" => "sett.button", "data-action" => "click->sett#updateReps", :class => ("btn-primary-light-red" if sett.reps_completed < sett.reps_goal)}
                    .div{"data-target" => "sett.reps", "value" => "0"}
                      ="#{sett.reps_completed} x #{sett.reps_goal}"

      .card-footer
      #notification{"data-controller" => "timer", "data-timer-workout-created" => "#{workout.created_at.to_i}", style: "padding: 10px"}
        .column
          .columns.col-12
            .col-1
            .col-3
              Rest Time:
              %br
              %span#settTimer{"data-target" => "timer.sett", "data-action" => "timer->sett#setTimer"}
                0:00              
            .col-4
              Workout: 
              %br
              %span#workoutTimer{"data-target" => "timer.workout", "data-action" => "timer->sett#workoutTimer"}
                0:00
            .col-4.right
              -if workout.active
                %span.complete-workout.btn
                  %a{href: '/workouts/stop'}
                    Finish
              -else
                %span.complete-workout.btn
                  %a{href: '/workouts/resume'}
                    Edit

        / #gUMArea
        /   %div
        /     Record:
        /     = succeed "Video" do
        /       %input#mediaVideo{:checked => "checked", :name => "media", :type => "radio", :value => "video"}/
        /     = succeed "audio" do
        /       %input{:name => "media", :type => "radio", :value => "audio"}/
        /   %button#gUMbtn.btn.btn-default Request Stream
        / #btns
        /   %button#start.btn.btn-default Start
        /   %button#stop.btn.btn-default Stop
        / %div
        /   %ul#ul.list-unstyled
