.panel
  .panel-header.text-center
    .panel-title.h5.mt-10 Routine
    #error_explanation
      %ul
        - @routine.errors.full_messages.each do |message|
          %li= message
      = form_for @routine do |f|
        .panel-body
          .field.form-group
            = f.label :name
            %br/
            = f.text_field :name, autofocus: true

          .field.form-group
            = f.label :description
            %br/
            = f.text_field :description
        .actions
        = f.submit 'Save'
