= form_for @template do |f|
  - if @template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@template.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @template.errors.full_messages.each do |message|
          %li= message
      

  .columns.col-12.field.form-group

    .col-12
      = f.label :routine_id
      = f.hidden_field :routine_id,  :value => @template.routine_id
  
    .col-12
      - if @exercises && @exercises.any?
        =f.collection_select(:exercise_id, @exercises, :id, :name)
      - else
        %p No exercises available
        = link_to 'New Exercise', new_exercise_path
    
    .col-12
      = f.label :sets
      %br/
      = f.text_field :sets

    .col-12
      = f.label :reps
      %br/
      = f.text_field :reps

    .col-12
      = f.label :group
      %br/
      = f.text_field :group

    .col-12
      = f.label :progression_type
      %br/
      = f.text_field :progression_type


  .actions
    = f.submit 'Save'

