= form_for @exercise do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |message|
          %li= message
      
  = f.label :name
  %br/
  = f.text_field :name, autofocus: true


  .actions
    = f.submit 'Save'
