%header
  .logo-cropper
    .logo
      %a{href: '/'}
        -# %img{src: "#{asset_pack_path('logo.png')}", style: "width: 30px"}
  
.menu-button
  -if current_user
    -if params[:controller] == 'workouts'
      %a{href: workouts_path} 
        .back-button
          .chevron-arrow-left
          %span.back-text{style: "line-height: 1em"}
            Back
    -elsif params[:controller] == 'profiles'
      %a{href: workouts_path} 
        .back-button
          .chevron-arrow-left
          %span.back-text{style: "line-height: 1em"}
            Back

  
    %input#navinput{:type => "checkbox"}/
    %label{:for => "navinput"}
      %span.bar.top
      %span.bar.middle
      %span.bar.bottom
  %aside
    .aside-section.aside-left
      %ul.aside-list
        -if current_user
          -if current_user.has_active_workout?
            %li{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'workouts') }
              %a.btn.btn-primary.btn-primary.btn-large{:href => "/workouts/resume"}  Resume Workout
          -else
            %li{class: ('active' if params[:controller] == 'profiles' && params[:action] == 'workouts') }
              %a.btn.btn-primary.btn-primary.btn-large{:href => "/workouts/start"}  New Workout
          %li
            %br
          %li.aside-anchor{class: ('active' if params[:controller] == 'profiles') }
            %a{:href => "#{root_path}"}  Home
          %li.aside-anchor{class: ('active' if params[:controller] == 'workouts') }
            %a{:href => "#{workouts_path}"}  History
          %li.aside-anchor{class: ('active' if params[:controller] == 'charts') }
            %a{:href => "#{charts_path}"}  Charts
          %li.aside-anchor{class: ('active' if params[:controller] == 'tutorials') }
            %a{:href => "#{tutorials_path}"}  Tutorials
          / %li.aside-anchor{class: ('active' if params[:controller] == 'timeline') }
          /   %a{:href => "#{timeline_index_path}"}  Timeline
          %li.aside-anchor{class: ('active' if params[:controller] == 'settings') }
            %a{:href => "#{settings_path}"}  Settings
          %li.aside-anchor
            =link_to('Logout', destroy_user_session_path, method: :get)

        -else
          %li.aside-anchor
            =link_to('Login', new_user_session_path) 
