#sidebar.main-sidebar{"data-controller" => "sidebar"}
  #navbar.main-navbar
    %a.off-canvas-toggle.btn.btn-link.btn-action{"data-action" => "click->sidebar#toggle"}
      %i.icon.icon-menu
    .btns
      -if current_user && current_user.has_active_workout?
        %a.btn.btn-primary.ml-1{:href => "/workouts/stop"} 
          End Workout
      -else
        %a.btn.btn-primary.ml-1{:href => "/workouts/create"} 
          Begin workout

  #sidebar.main-sidebar.off-canvas-sidebar{"data-target" => "sidebar.menu"}
    -if user_signed_in?
  
      .main-brand
        %a.main-logo{:href => "/#"}
          %h2 EveryBody
          %small.label.label-secondary.text-bold squat
      %ul.nav.main-nav
        -if current_user
    
          %li.nav-item{class: ('active' if params[:controller] == 'users' && params[:action] == 'show') }
            %a{:href => "/#{current_user.username}"} My Profile
          %li.nav-item{class: ('active' if params[:controller] == 'workouts') }
            %a{:href => "/#{current_user.username}/workouts"}  Workouts
          %li.nav-item{class: ('active' if params[:controller] == 'users' && params[:action] == 'goals') }
            %a{:href => "/#{current_user.username}/goals"}  Goals 
          %li.nav-item{class: ('active' if params[:controller] == 'users' && params[:action] == 'charts') }
            %a{:href => "/#{current_user.username}/charts"}  Charts
          %li.nav-item{class: ('active' if params[:controller] == 'users' && params[:action] == 'timeline') }
            %a{:href => "/#{current_user.username}/timeline"}  Timeline
          %li.nav-item
            =link_to('Logout', destroy_user_session_path)
          
          
          %li.nav-item
            %hr
          -if current_user.is_admin?
            %li.nav-item{class: ('active' if params[:controller] == 'routines') }
              %a{:href => "/routines"} All Routines 
            %li.nav-item{class: ('active' if params[:controller] == 'exercises') }
              %a{:href => "/exercises"} All Exercises 
            %li.nav-item{class: ('active' if params[:controller] == 'workouts') }
              %a{:href => "/workouts"} All Workouts  
            

    %a.off-canvas-overlay{"data-action" => "click->sidebar#toggle", "data-target" => "sidebar.overlay"}
